body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*sets the background color of the header div to #404040*/
header {
  background-color: #404040;
  padding: 1rem;
}

/*sets the link color and style to #ffffff and font-weight: bold respectively*/
header a {
  color: #ffffff;
  font-weight: bold;
  /*Removes any underline frome the link in the header*/
  text-decoration: none; 
}

.products {
  display: flex;/*all divs next to each other*/
  flex-wrap: wrap;/*defines how flex items wrap within a flex container when there is not enough space to fit them on one line.*/
  justify-content: center;/*put all items in center*/
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  height: 65%;/**/
  max-width: 250px;
  max-height: 250px;/**/
}

main {
  padding: 1rem;
}

.product-desc {
  padding: 1rem;
}