body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products {
  display: flex;/*all divs next to each other*/
  flex-wrap: wrap;/*defines how flex items wrap within a flex container when there is not enough space to fit them on one line.*/
  justify-content: center;/*put all items in center*/
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.side-allpage {
  min-height: 100%vh;
}

main {
   flex: 1;
}

.product-desc {
  padding: 1rem;
}

